DB_NAME=coffee_shop1
DB_USER=root
DB_PASSWORD=your_password_here
MYSQL_ROOT_PASSWORD=your_password_here
JWT_SECRET=your_jwt_secret_at_least_32_chars!!
SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/coffee_shop1?useSSL=false&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=your_password_here
